@model IEnumerable<Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel>

@{
    var dashboardData = Model.FirstOrDefault();
    if(dashboardData==null){
        dashboardData = new Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel();
    }
    var data = Model as IEnumerable<Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel>;
    if(data==null){
        data = Enumerable.Empty<Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel>();
    }
    var section = data.GroupBy(x => x.SectionId)
    .Select(r => new Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel() { SectionId = r.Key, SectionName = r.First().SectionName });
    if (section == null) { 
        section = Enumerable.Empty<Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel>();
    }
    if (section != null)
    {
        section = section.OrderBy(o => o.ScreenOrder);
    }
    var screen = Enumerable.Empty<Layer.Model.ViewModel.Security.RoleWiseScreenPermissionViewModel>();
    var iconString = string.Empty;
}
<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Office Solution</span>
</a>
@{
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="@Url.Action("Index",dashboardData.ControllerName)" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                @if (section != null || section.Any())
                {
                    foreach (var s in section)
                    {
                        screen = data.Where(o => o.SectionId == s.SectionId);
                        @if (screen.Any())
                        {
                            screen = screen.OrderBy(o => o.ScreenOrder);
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa @iconString"></i>
                                    <p>
                                        @screen.FirstOrDefault().SectionName
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">


                                    @foreach (var sc in screen)
                                    {
                                        <li class="nav-item">
                                            <a href="@sc.URL" class="nav-link">
                                                <i class="far fa-plus nav-icon"></i>
                                                <p>@sc.ScreenName</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }

            </ul>
        </nav>
    </div>
}
