
@model IEnumerable<Layer.Model.ViewModel.Security.SubModuleSectionsViewModel>
@{

    int sl = 1;

    <table id="tblSubModuleSectionDetails" class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
                <th>SL</th>
                <th>Module Name</th>
                <th>Sub Module Name</th>
                <th>Section Name</th>
                <th>Icon Name</th>
                <th>Section Order</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model.OrderByDescending(o => o.SubModuleName))
                {
                    <tr>
                        <td>@sl @{sl++;}</td>
                        <td>@item.ModuleName</td>
                        <td>@item.SubModuleName</td>
                        <td>@item.SectionName</td>
                        <td>@item.IconName</td>
                        <td>@item.SectionOrder</td>
                        <td>
                            @if (item.IsActive)
                            {


                                <p style="color:green">Active</p>
                            }
                            else
                            {
                                <p style="color:red">Inactive</p>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm btnEdit" data-id="@item.SectionId"><i class="fa fa-edit"></i> Edit </button>
                            <button type="button" class="btn btn-danger btn-sm btnDelete" data-id="@item.SectionId"><i class="fa fa-trash"></i> Delete </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
        @if (Model.Any())
        {
            <tfoot>
                <tr>
                    <th>SL</th>
                    <th>Module Name</th>
                    <th>Sub Module Name</th>
                    <th>Section Name</th>
                    <th>Icon Name</th>
                    <th>Secrion Order</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        }
    </table>

}
<script type="text/javascript">
    makePaginationWithExport("tblSubModuleSectionDetails");
</script>

