@model IEnumerable<Layer.Model.ViewModel.Institute.FacultyViewModel>
@{
    int sl = 0;
    <div class="row">

        @if (Model.Any())
        {
            foreach (var item in Model)
            {

                <div class="col-lg-3 col-6">
                    <div class="box box-primary rounded border border-primary" style="margin-bottom:10px;">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle mx-auto d-block" src="@Url.Content("~/profileimages/"+item.Image)" alt="User profile picture">
                            <h3 class="profile-UserName text-center">@item.FacultyFullName</h3>
                            <p class="text-muted text-center">@item.Education</p>

                            <ul class="list-group list-group-unbordered text-center">
                                <li class="list-group-item">
                                    <span><i class="fa fa-briefcase"></i></span> <a class="pull-right">@item.DesignationName</a>
                                </li>
                                <li class="list-group-item">
                                    <span><i class="fa fa-envelope"></i></span> <a class="pull-right">@item.Email</a>
                                </li>
                                
                              
                            </ul>
                            <button type="button" class="btn btn-primary btn-block btnDetails" data-id="@item.FacultyId"><i class="fa fa-list"></i> Show More</button>
                        </div><!-- /.box-body -->
                    </div>
                </div>

                sl++;


            }
        }

    </div>
}

@functions {
    public string GetClass(int serial)
    {
        switch (serial % 4)
        {
            case 1:
                return "small-box bg-success";
            case 2:
                return "small-box bg-warning";
            case 3:
                return "small-box bg-danger";
            default:
                return "small-box bg-info";
        }

    }
}



