@using Layer.Model.ViewModel.Institute
@model Layer.Model.ViewModel.Institute.FacultyViewModel

@{
    var profileSection = Model.FacultyWiseProfileSectionViewModel as IEnumerable<FacultyWiseProfileSectionViewModel>;
    if (profileSection.Any())
    {
        profileSection = profileSection.OrderBy(o=>o.ProfileSectionId);
    }
    int sl = 0;
    var hrefId = string.Empty;
    var tabId = string.Empty;
    var ariacontrols = string.Empty;
}


@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12">

            <div class="emp-profile">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary" id="btnBackToList">Back To List</a>
                        </div>
                    </div>
                    <div class="row" style="border-bottom:groove; margin-bottom:10px;">
                        <div class="col-md-3">
                            <div class="profile-img img-circle">
                                <img src="@Url.Content("~/profileimages/"+Model.Image)" alt="" />
                            </div>
                            <br>
                        </div>

                        <div class="col-md-9">
                            <br>
                            <div class="profile-head" style="text-align:left !important;">
                                <h3>
                                    @Model.FacultyFullName
                                </h3>
                                <h6>
                                    @Model.DesignationName
                                </h6>
                                <h6>@Model.DepartmentName</h6>
                                <p><i class="fa fa-envelope"></i>&nbsp;&nbsp; <a href="mailto:@Model.Email">@Model.Email</a></p>

                                <p><i class="fa fa-phone"></i>&nbsp;&nbsp; @Model.Mobile</p>
                                <br>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                @if (profileSection.Any())
                                {
                                    foreach (var item in profileSection)
                                    {
                                        sl++;
                                        tabId = "tab" + item.ProfileSectionId + "-tab";
                                        hrefId = "#tab" + item.ProfileSectionId;
                                        ariacontrols = "tab" + item.ProfileSectionId;

                                        if (sl == 1)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link active" id="@tabId" data-toggle="tab" href="@hrefId" role="tab" aria-controls="@ariacontrols" aria-selected="true">@item.ProfileSectionTitle</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" id="@tabId" data-toggle="tab" href="@hrefId" role="tab" aria-controls="@ariacontrols" aria-selected="false">@item.ProfileSectionTitle</a>
                                            </li>
                                        }
                                    }
                                }

                            </ul>
                            <div class="tab-content profile-tab" id="myTabContent">
                                @if (profileSection.Any())
                                {
                                    sl = 0;

                                    foreach (var item in profileSection)
                                    {
                                        sl++;
                                        tabId = "tab" + item.ProfileSectionId + "-tab";
                                        hrefId = "#tab" + item.ProfileSectionId;
                                        ariacontrols = "tab" + item.ProfileSectionId;

                                        if (sl == 1)
                                        {

                                            <div class="tab-pane fade show active" id="@ariacontrols" role="tabpanel" aria-labelledby="@hrefId">
                                                <div class="row">
                                                    <div style="content:' '"> </div>
                                                    <div class="col-md-12" style="text-align:left">
                                                        @Html.Raw(item.ProfileSectionDetails)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab-pane fade" id="@ariacontrols" role="tabpanel" aria-labelledby="@hrefId">
                                                <div class="row">
                                                    <div style="content:' '"> </div>
                                                    <div class="col-md-12" style="text-align:left">
                                                        @Html.Raw(item.ProfileSectionDetails)
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    }
                                }

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}